@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: brown;
}

#side-left{
    flex: 1;
    background-color: cadetblue;
}

#conteiner-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: aliceblue;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.conteiner-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 25px;
    padding-left: 10px;
}

.search {
    border: 0px;
    outline: 0px;
    flex: 1;
    height: 40px;
    border-radius: 25px;
    padding-left: 10px;
    background-color: transparent;
    font-size: 14px;
    color: grey;
}

.list-contacts {
    flex: 15;
    background-color: black;
    padding-top: 5px;
}

.boxContacts {
    height: 72px;
    width: 100%;
    background-color: white;
}

#side-right{
    flex: 3.5;
    background-color: burlywood;
}