@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#page {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: row;
}

#side-left{
    flex: 1;
    height: 100%;
}

#conteiner-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.conteiner-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 25px;
    padding-left: 10px;
}

.search {
    border: 0px;
    outline: 0px;
    flex: 1;
    height: 40px;
    border-radius: 25px;
    padding-left: 10px;
    background-color: transparent;
    font-size: 14px;
    color: grey;
}

.list-contacts {
    display: flex;
    flex-direction: column;
    flex: 15;
    height: 100%;
    padding-top: 5px;
}

.boxContacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-left: 5px;
    background-color: white;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.profile > img {
    width: 48px;
    height: 48px;
}
.boxText {
    display: flex;
    flex-direction: column;
    flex: 10;
    gap: 4px;
    margin-left: 20px;
    gap: 5px;
}

.name{
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: black;
}

.lastMessage{
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #707991;
}

.lastItems{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
    padding-right: 15px;
}
    
.hours{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #707991;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.viwed {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-weight: lighter;
    font-size: 13px;
    color: white;
}

.circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.editorial {
    width: 10px;
    height: 10px;
}

#side-right{
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

#top-right {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.avatar > img {
    height: 40px;
    width: 40px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex: 13;
}
.nomeProfile {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.lastViwed {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #707991;
}

.last{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 2;
}

#background {
    flex: 13.6;
    background: url("/assets/src/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteinerDeMensagem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.today {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    width: 50px;
    height: 25px;
    background-color: #3D70B899;
    border-radius: 25px;
}

.recebido {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.enviado {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.outros {
    background-color: white;
}
.voce {
    background-color: greenyellow;
}
.voce > .infos {
    color:  white;
}
.infos > img {
    color: white;
}
.caixaDeMensagem {
    display: flex;
    flex-direction: column;
    font-weight: 450;
    font-style: normal;
    max-width: 400px;
    border-radius: 15px;
    padding: 4px 12px;
    gap: 10px;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    gap: 5px;
    font-weight: normal;
    font-style: normal;
}

#barraDeMensagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#inputText {
    outline: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding-left: 10px;
}

.button {
    cursor: pointer;
}